.bg-rosy{
	background-color: #ffdd59;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}

.carousel img {
    max-height: 300px;
    margin: 0 auto;
    object-fit: cover;
    filter: brightness(85%);
}
.sidebar-outer {
    position: relative;
}